.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

button {
  background: #1aac83;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
/*create block */

label, input {
  display: block;
}

input {
  margin-bottom: 10px;
  padding: 10px;
}

/*search bar */

.search-bar input {
  display: inline-block;
  margin-right: 10px;
}